/AviatorArsenal/bin/Debug/*
/AviatorArsenal/bin/Release/*
/AviatorArsenal/obj/Debug/*
/AviatorArsenal/obj/Release/*

*.suo
GameData/AviatorArsenal/Plugins/LICENSE
AviatorArsenal/AviatorArsenal.csproj
AviatorArsenal/AviatorArsenal.csproj
AviatorArsenal/AviatorArsenal.csproj
